* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
  }
  
  body {
    font-family: sans-serif;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  h1 {
    padding: 1em 0;
  }
  
  p {
    margin: 1em 0;
  }
  
  .page {
    background: #fff;
    color: #444;
    min-height: 100%;
  }
  
  #dark-mode-input {
    display: none;
  }
  
  #dark-mode-input:checked ~ .page {
    background: #444;
    color: #fff; 
  }
  
  .dark-mode-toggler {
    position: absolute;
    width: 40px;
    height: 20px;
    background: #038103d5;
    border: 2px solid #bbb;
    border-radius: 20px;
    top: 10px;
    right: 10px;
    transition: all 300ms ease-in-out;
  }
  
  .dark-mode-toggler div {
    width: 12px;
    height: 12px;
    background: #000;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: all 300ms ease-in-out;
  }
  
  #dark-mode-input:checked ~ .dark-mode-toggler {
    background: rgba(235, 231, 9, 0.877);
  }
  
  #dark-mode-input:checked ~ .dark-mode-toggler div {
    background: #000;
    left: 21px;
  }